#main_container
  include ../newHeader
  #main_content.body
    h2 Welcome back!
    span
      | Please amend the form below.  Changes will be validated by administration before appearing live.

    form(action="/charity/#{charity._id}/update", method="post")
      fieldset
        legend Charity Information
        - if (error == 'true')
          span.error There was an error in your form, please try again
        .editor-label
          label(for="CharityName") Charity Name
        .editor-field
          input#CharityName(type="text", name="charity[name]", value='#{charity.name}')
        .editor-label
          label(for="CharityWebsite") Charity Website
        .editor-field
          input#CharityWebsite(type="text", name="charity[website]", value='#{charity.website}')
        .editor-label
          label(for="DirectDonateLink") Direct Donate Link
        .editor-field
          input#DirectDonateLink(type="text", name="charity[directDonationLink]", value='#{charity.directDonationLink}')
        .editor-label
          label(for="DonationInstructions") Phone/SMS Donation Instructions
        .editor-field
          input#DonationInstructions(type="text", name="charity[donationInstructions]", value='#{charity.donationInstructions}')
        .form-controls
          input#submit(type="submit", value="Update")
  include ../footer